body{
    height: 100%;
    border: solid black 10px;
    border-radius: 15px;
    height: 100%;
    font-family: sans-serif;
}

.hoverinfo {
    color:blue;
    margin-left: 100px;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
}

#jumbotron {
    display:block;
    text-align:center;
    font-variant: small-caps;
}

#mapdiv {
    position: center;
    height:100%
}

#bottom-link {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
    float: top;
}

.clickable {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}

.author {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
   
}

.header {
    
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px;

}

#container {
    border: solid black 5px;
    border-radius: 10px;
    width: 200px;
}

.location {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#title {
    
}

.title {
     text-align: center;
}

.opening {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 10px;
    margin-left: 5%;
}

.headerpic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: solid black 2px;
    display: block;
}



.wrapper {
    width: 100%;
}

.container {
      border: solid black 5px;
    border-radius: 10px;
    width: 200px;
    margin: 0px;
}

#hoverTemplate {
}
